.container {
    max-width: 1500px;
    margin-top: 2rem;
  }
  .card {
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-body {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
  }
  .header-section {
    margin-bottom: 2rem; /* Adds spacing below the header section */
  }
  .header-section h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .header-section h6 {
    font-size: 1rem;
    color: #6c757d;
  }
  .nav-pills {
    border-right: 2px solid #007bff;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .nav-pills .nav-link {
    border-radius: 0.5rem;
    margin-bottom: -1px;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
  }
  .nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-pills .nav-link {
    color: #007bff;
  }
  .nav-pills .nav-link:hover {
    background-color: rgba(0, 123, 255, 0.1);
    text-decoration: none;
  }
  .nav-link i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: color 0.3s;
  }
  .nav-link.active i {
    color: #fff;
  }
  .nav-link:hover i {
    color: #0056b3;
  }
  .tab-content {
    flex: 1;
  }
  #successAlert {
  margin-top: 1rem;
  transition: opacity 0.5s ease-in-out;
}